.Listingpage-form{
    
    font-size: sm;
    
   
    
    
    background-color: #232325;
    width:100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    
    
    
    padding-right: 2%;

    
    
    
    
}

.image-info{
   padding-top: 2%;
   font-size: small;
   
   
  
   color: white;

 text-align: left;
 
 
 
 
}

.thumbnail{
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 3%;
    padding-bottom: 2%;
    
    
    

    
    
   
   
    
    
  

    
}



.wishlist-add-btn{
    
}

.bttns{
    display:flex;
    flex-direction: column;
    
}

.bttnss{
    display:flex;
    flex-direction: column;
    

}