.Listingpagebox{
    
    font-size: sm;
    
   background-color:white;
    
    
   
    width:100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
    
    padding-right: 2%;
    
    
    
    
}

.image-info-sidebar{
   padding-top: 2%;
   font-size: small;
   

   background-color: #232325;

 text-align: left;
 
 
 
 
}

.thumbnail{
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 3%;
    padding-bottom: 2%;
    background-color: #232325;
   
    
    
  

    
}

.flexer{

    background-color: #232325;
}

.link{
    color: rgb(246, 250, 246);
    font-weight: bold;
}

.link:hover{
    color: rgb(9, 136, 248);
}
