.Search{
    background-color: #232325;
    border-radius: 25px;
}

.form{
    background-color: #232325;
    font-size: small;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.advancedSearch{
    color: white;
}

.regularSearch{
    color: white;
}